@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* This hides the arrows at the end of the number inputs. */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.scrollBar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Styles for the buttons */
.tip-btns{
  @apply flex items-center justify-center w-36 h-12 text-2xl font-bold rounded-md transition-all duration-200 ease-in-out cursor-pointer
}
.tip-btns-normal{
  @apply bg-veryDarkCyan text-white hover:bg-strongCyan hover:text-veryDarkCyan focus:bg-strongCyan focus:text-veryDarkCyan
}
.tip-btns-active{
  @apply bg-strongCyan text-veryDarkCyan
}
/* Error checking styles */
.goodBorder{
  @apply border-white border-2 focus:border-strongCyan outline-none
}
.errorBorder{
  @apply border-errorRed border-2 focus:border-errorRed outline-none
}
.textError{
  @apply -translate-y-5
}

/* Active and Inactive state of reset button */
.inactive{
  @apply w-full py-2 mt-8 uppercase bg-strongCyan rounded-md font-semibold text-veryDarkCyan lg:py-3 opacity-20 cursor-not-allowed
}
.active{
  @apply w-full py-2 mt-8 uppercase bg-strongCyan rounded-md font-semibold text-veryDarkCyan lg:py-3 opacity-100 cursor-pointer
}

/* Styling for Lables */
.label-styles{
  @apply font-bold text-base text-darkGrayishCyan
}
/* Custome input styles */
.customInput{
  @apply w-36 h-12 text-2xl text-right font-bold rounded-md text-veryDarkCyan bg-veryLightGrayishCyan pr-4
}